<div class="navbar-header pull-left">
  <a href="#" class="navbar-brand">
    <small>
      <!--<i class="icon-leaf"></i>-->
      <!--Ace Admin-->
      <%#=  page_header_title %>
    </small>
  </a><!-- /.brand -->
</div><!-- /.navbar-header -->