.login-bg {
    background-color: #f2f2f2;
}
.login-well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
}
.main_box {
    width: 50%;
    min-width: 320px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 20%;
}
.login-title {
    font-family: Microsoft YaHei;
    font-size: 16px;
    letter-spacing: 10px;
    font-weight: bold;
    color: #717171;
    margin-left: 50px;
    margin-bottom: -10px;
}
.login_box {
    overflow: hidden;
    margin-bottom: 50px;
}
.login_img img {
    float: left;
}
.footer_box {
    width: 660px;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    bottom: 30px;
}
.main-copyright {
    margin-left: 55px;
}
.joowing_logo {
    margin-left: 26.5%;
}
.form-group {
    min-width: 250px;
}
.error_info {
    height: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-group .input-group {
    width: 100%;
}
.form-group button {
    width: 100%;
}

.form-group .input-group input {
    background-color: #ffffff;
    border-radius: 4px !important;
}

.form-group .input-group-addon {
    display: block;
    position: absolute;
    white-space: nowrap;
    height: 34px;
    width: 100px;
    right: 0;
    background-color: inherit;
    border: none;
    background: #DDD;
    z-index: 2;
    border: 1px solid #ccc;
}
.login_img img {
    width: 100%;
}
.login_img {
    min-width: 320px;
    min-height: 110px;
}
.login-box {
    margin-top: 0;
}
.login-well  .input-group.input-icon i{
    position: absolute;
    z-index: 100;
    font-size: 20px;
    line-height: 34px;
    left: 10px;
}
.login-well .input-group.input-icon .form-control {
    text-indent: 30px;
    font-size: 15px;
    line-height: 34px;
}

