<div class="main-container" id="main-container">
<script type="text/javascript">
  try{ace.settings.check('main-container' , 'fixed')}catch(e){}
</script>

<div class="main-container-inner">
<a class="menu-toggler" id="menu-toggler" href="#">
  <span class="menu-text"></span>
</a>

<%=render(:partial=>"simple_list/app_page/sidebar")%>


<%=render(:partial=>"simple_list/app_page/main_content")%>

<%#=render(:partial=>"ace/app_page/settings_container")%>
</div><!-- /.main-container-inner -->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
  <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->